
.title {
  text-align: center;
  margin-bottom: 50px;
  color: #5f5e5e;
  font-weight: bold;
  font-size: 25px;
}

.linkWrapper {
  padding: 5px;
  list-style: none;
}

.pageNumbers {
  display: flex;
  align-items: center;
  justify-content: center;
}